{# templating imports #}
{% from 'macros/helpers.html' import sprite %}
{% set assetsPath = 'assets/frontend/' %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ assetsPath }}css/global.css">
  {% include "shared/app-icons.html" %}
  {% block head %}{% endblock %}
</head>
<body>
  <h1></h1>
  {% include "shared/page-nav.html" %}
  {% block content %}
    
  {% endblock %}
  <footer>
  </footer>
  <script src="{{ assetsPath }}js/shared.js"></script>
  {#  #}
  {% block javascript %}{% endblock %}
</body>
</html>
